@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800;900&display=swap');

body {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	color: white;
	// border: 2px solid rgb(135, 24, 24);
	// width: 100%;
}

.gradient {
	background-image: linear-gradient(to bottom right, rgb(0, 0, 1), rgb(0, 0, 0), #0a0114, #1c0830);
}

// .black {
// 	background-image: bla;
// }

.nopage {
	padding: 100px 8%;
	padding-left: 10%;
	height: 30vw;
	font-size: 100px;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* navbar */
// .navbar-container {
// 	z-index: 10;
// 	color: #71678c;
// 	padding: 5px 10%;
// 	width: 79.8vw;
// 	position: fixed;
// 	background: rgba(2, 1, 4, 0.8);
// 	backdrop-filter: blur(8px);
// }

.navbar {
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;

	div {
		display: flex;
		align-items: center;

		Button {
			font-weight: 900;
			color: #c8b4ff;
			font-size: 17x px;
		}
	}
}

// youtube embeded
.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	margin-bottom: 30px;
	border: 3px solid rgb(87, 66, 105);
	border-radius: 20px;
	position: relative;
	height: 0px;
	width: 100%;

	iframe {
		border: none;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}


/* LOGIN */
.signup--container {
	padding-top: 130px;
	color: #71678c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 85vh;

	/* border: 2px solid rgb(135, 24, 24); */
	.signup--container--card {
		background-image: linear-gradient(to right, #766c89, #2e2c49);
		display: flex;
		flex-direction: column;
		margin-top: 200px;
		padding: 60px 0px;
		align-items: center;
		width: 40%;
		max-width: 500px;
		min-width: 300px;

		div {
			margin-bottom: 10px;
		}

		button {
			width: 100px;
			background-color: #000000;
		}

		button:hover {
			background-color: #71678c;
		}

		margin: 0px;

		.login--radio {
			color: rgb(25, 1, 31);
			padding: 20px;

			.PrivateSwitchBase-input {
				color: #000000;
			}
		}
	}

	.signup-head {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		h1 {
			font-weight: 900;
			font-size: 50px;
			display: flex;
			justify-content: center;
		}

		h2 {
			margin: 0px;
		}
	}
}

.TextField {
	padding: 5px;
}

.course--card {
	// border: 2px solid rgb(135, 24, 24); 
	background-image: linear-gradient(to right, #766c89, #2e2c49);

}

/* panel */

.panel-container {
	background-image: linear-gradient(to bottom right, rgb(0, 0, 1), rgb(0, 0, 0), #0a0114, #1c0830);
	min-height: 100vh;
	padding-top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	overflow-x: auto;
}

// .panel-container-null {
// 	padding: 100px 8%;
// 	padding-left: 10%;
// 	height: 4vw;
// 	font-size: 100px;
// }

.card {
	// border: 2px solid red;

	border: 1px solid rgb(87, 66, 105);
	border-radius: 14px;
	max-height: 500px;
	// text-decoration: none;

	padding: 2px;
	width: 25vw;
	min-width: 250px;
	font-size: 22px;
	flex: 0 0 auto;
	display: flex;
	/* ADD */
	flex-direction: column;
	/* ADD */
	position: relative;

	#panal--button {
		// padding-right: 10px;
		padding-bottom: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.bold {
		font-weight: bold;
	}

	.gray {
		color: #918E9B;
	}

	.card--image {
		width: 100%;
		border-radius: 14px;
		margin-bottom: 9px;
	}

	/* ADD */
	.card--title {
		padding: 0px 10px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card--stats {
		padding: 0px 10px;
		display: flex;
		align-items: center;
	}

	.card--star {
		height: 14px;
	}

	/* ADD */
	.card--price {
		padding: 0px 10px;
		margin-top: auto;
	}
}


// update course

.update--content {
	margin: 30px;
	background: linear-gradient(to right, #766c89, #2e2c49);
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 30vw;
	max-width: 50vw;
	min-width: 300px;
	border-radius: 5px;
	flex-direction: column;
	padding: 15px;
	padding-top: 15px;

	.txt {
		width: 30vw;
	}
}

.uc--course--card {

	// border: 10px solid rgb(186, 15, 15);
	div {
		// border: 10px solid rgb(186, 15, 15);
		padding: 0px;
		margin: 0px;
	}
}

#update--container>div {
	display: flex;
	justify-content: center;
	// align-items: center;
}

//coursePage
.coursepage--container {
	padding-top: 10vh;
	padding-bottom: 30px;
	background-image: linear-gradient(to bottom right, rgb(0, 0, 1), rgb(0, 0, 0), #0a0114, #1c0830);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	#cp--title {
		font-size: 90px;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-thickness: 1px;
		text-align: center;
	}

	#cp--image {
		display: flex;
		justify-content: center;
		max-width: 50vw;
		min-width: 360px;
		border: 2px solid rgb(87, 66, 105);
		border-radius: 20px;
		margin-bottom: 5vh;

		img {
			border-radius: 20px;
			overflow: hidden;
		}
	}

	#cp--Description {
		margin: 20px;
		background: rgba(255, 253, 253, 0.088);
		border: 1px solid rgb(87, 66, 105);
		border-radius: 5px;
		width: 40vw;
		min-width: 350px;
		padding: 10px;
		font-size: 20px;
		text-align: center;
	}

	#cp--button {
		background-color: #783eab5c;
		height: 90px;
		min-width: 200px;
		font-size: 25px;
		font-weight: 700;
		border-radius: 5PX;
		margin: 20PX;
	}

	#cp--chapters--container {
		background: rgba(255, 253, 253, 0.088);
		border: 1px solid rgb(87, 66, 105);
		border-radius: 10px;
		width: 40vw;
		min-width: 360px;
		// padding: 10px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		#cp--chapter {
			display: flex;
			flex-direction: row;
			align-items: center;
			border-bottom: 1px solid rgb(87, 66, 105);
			border-radius: 10px;

			#cp--chapter--ind {
				font-size: 80px;
				width: 15%;
				padding-left: 20px;
			}

			#cp--chapter--details {
				#cp--chapter--title {
					font-size: 25px;
				}

				#cp--chapter--des {
					color: gray;
				}

				p {
					margin: 5px;
				}
			}
		}
	}
}

//course
.course {
	// border: 2px solid red;
	background-image: linear-gradient(to bottom right, rgb(0, 0, 1), rgb(0, 0, 0), #0a0114, #1c0830);
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	padding-top: 85px;
	justify-content: center;
	align-items: center;
	margin: 0px;

	.course--nav {
		// border: 2px solid rgb(42, 136, 88);		
		height: 45px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		// margin-bottom: 10px;
		border-bottom: 5px solid #473f5d;

		h1 {
			margin: 0px;
			text-align: center;
			font-size: 30px;
			overflow: hidden;
		}

		button {
			background-color: #473f5d;
			color: #c8b4ff;
			width: 20vw;
			border: none;
			border-radius: 2px;
		}
	}

	.course--body {
		display: flex;
		flex-direction: row;
		width: 100vw;

		.chapter--index {
			position: sticky;
			top: 130px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// border: 2px solid red;
			height: 84vh;
			width: 5vw;
			min-width: 35px;
			overflow-y: auto;

			.nav--button {
				color: #c8b4ff;
				min-height: 55px;
				border: none;
				// border-radius: 5px;
				border-top-right-radius: 0px;
			}
		}

		.course--container {
			// border: 2px solid rgb(136, 42, 42);	
			width: 94vw;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			margin: 0px;
			flex-wrap: wrap;
			// overflow-y: scroll;

			.video--container {
				margin-left: 5px;
				margin-right: 5px;
				width: 45vw;
				min-width: 325px;

				div {
					width: 100%;
					border: 5px solid rgb(87, 66, 105);
					border-radius: 10px;
				}
			}

			.text--container {
				border: 1px solid rgb(87, 66, 105);
				border-top: none;
				padding: 10px;
				border-radius: 10px;
				width: 47vw;
				height: 81vh;
				// margin-bottom: 20px;
				min-width: 320px;
				overflow-y: scroll;
			}
		}
	}

}

@media only screen and (min-device-width : 1130px) {

	.navbar-container {
		z-index: 10;
		color: #71678c;
		padding: 5px 10%;
		width: 79.8vw;
		position: fixed;
		background: rgba(2, 1, 4, 0.8);
		backdrop-filter: blur(8px);
	}

	/* landing */
	.landing-intro {
		padding-top: 280px;
		width: 100%;
		height: 69vh;
		min-height: 550px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.landing--head {
		border: 5px solid rgb(232, 47, 167);
		border-left-width: 0;
		border-right-width: 0;
		display: flex;
		width: 98.7vw;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;

		h1 {
			padding: 10px 40px;
			font-size: 120px;
			margin: -17px;
			font-weight: 900;
		}
	}

	.about-us {
		// padding: 0px 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 70vw;
		width: 100%;

		h1 {
			text-align: center;
			font-size: 50px;
		}

		div {
			padding: 20px;
		}

		img {
			// border: 2px solid red;
			width: 50vw;
			height: 60vh;
		}

		ul {
			// border: 2px solid red;
			max-width: 35vw;
			list-style-type: disc;

			li {
				font-size: 20px;
				padding: 20px 0px;
			}
		}
	}

	.chip-container {
		display: flex;
		flex-direction: row;
		justify-content: center;

		div {
			margin: 10px;
			font-size: 20px;
			width: 150px;
			height: 50px;
			border-radius: 30px;
			color: rgb(92, 19, 152);
			background-color: #c8b4ff;
		}
	}
}

@media only screen and (max-device-width : 1130px) and (min-device-width : 850px) {

	.navbar-container {
		z-index: 10;
		color: #71678c;
		padding: 5px 10%;
		width: 79.8vw;
		position: fixed;
		background: rgba(2, 1, 4, 0.8);
		backdrop-filter: blur(8px);
	}

	/* landing */
	.landing-intro {
		// border: 5px solid rgb(232, 47, 167);
		padding-top: 280px;
		width: 100%;
		height: 65vh;
		min-height: 400px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.landing--head {
		border: 5px solid rgb(232, 47, 167);
		border-left-width: 0;
		border-right-width: 0;
		display: flex;
		width: 98.7vw;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;

		h1 {
			padding: 10px 40px;
			font-size: 80px;
			margin: -17px;
			font-weight: 900;
		}
	}

	.about-us {
		// border: 5px solid rgb(241, 214, 227);
		// padding: 0px 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;

		h1 {
			text-align: center;
			font-size: 50px;
			margin: 0px;
		}

		div {
			padding: 20px;
			overflow: hidden;
		}

		img {
			// border: 2px solid red;
			width: 50vw;
			height: 60vh;
		}

		ul {
			// border: 2px solid red;
			max-width: 35vw;
			list-style-type: disc;

			li {
				font-size: 15px;
				padding: 10px 0px;
			}
		}
	}

	.chip-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.chips {
			margin: 5px;
			font-size: 15px;
			width: 125px;
			height: 50px;
			border-radius: 30px;
			color: rgb(92, 19, 152);
			background-color: #c8b4ff;
		}
	}
}

@media only screen and (max-device-width : 850px) and (min-device-width : 280px) {

	.navbar-container {
		z-index: 10;
		color: #71678c;
		padding: 5px 0px;
		padding-left: 3%;
		padding-right: 17%;
		width: 79.8vw;
		position: fixed;
		background: rgba(2, 1, 4, 0.8);
		backdrop-filter: blur(8px);
		.navright{
			max-width: 200px;
		}
	}

	/* landing */
	.landing-intro {
		// border: 5px solid rgb(92, 91, 92);
		padding-top: 28vh;
		width: 100%;
		height: 70vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.landing--head {
		border: 5px solid rgb(232, 47, 167);
		border-left-width: 0;
		border-right-width: 0;
		display: flex;
		width: 98.7vw;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;

		h1 {
			padding: 10px 40px;
			font-size: 60px;
			margin: -17px;
			font-weight: 900;
		}
	}

	.chip-container {
		// border: 5px solid rgb(92, 91, 92);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.chips {
			margin: 5px;
			font-size: 15px;
			width: 125px;
			height: 50px;
			border-radius: 30px;
			color: rgb(92, 19, 152);
			background-color: #c8b4ff;
		}
	}

	.about-us {
		// border: 5px solid rgb(241, 214, 227);
		// padding: 0px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 130vh;
		width: 100%;

		h1 {
			text-align: center;
			font-size: 50px;
			margin: 0px;
		}

		div {
			padding: 20px;
			overflow: hidden;
		}

		img {
			// border: 2px solid red;
			width: 80vw;
			height: 60vh;
			max-height: 300px;
			max-width: 500px;
		}

		ul {
			// border: 2px solid red;
			max-width: 80vw;
			list-style-type: disc;

			li {
				font-size: 15px;
				padding: 10px 0px;
			}
		}

		.chip-container {
			margin-top: -20px;
			margin-left: -25px;

			.chips {
				margin: 3px;
				font-size: 13px;
				width: 117px;
				height: 40px;
			}
		}
	}

	@media only screen and (max-device-height : 750px) and (min-device-height : 600px) {
		.landing-intro {
			padding-top: 25vh;
			height: 80vh;
		}

		.about-us {
			img {
				max-height: 200px;
			}
		}

		.landing--head {
			h1 {
				font-size: 40px;
			}
		}
	}
}